* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation-bar {
  width: 100%;
  height: 70px;
  background: bisque;
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
}

.top-left {
  flex: 3;
  display: flex;
}

.top-center {
  flex: 6;
}

.top-right {
  flex: 1;
  display: flex;
}
